body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s;
}
textarea{
    height: 306px;
    max-width: 380px;
}

input:focus, textarea:focus {
    border-color: #4A90E2;
    outline: none;
    background-color: #fff;
}

button {
    background-color: #4A90E2;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #357ABD;
}

button:focus {
    outline: none;
}

.container {
    text-align: center;
}